@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fbf8;
  --foreground: #0b1215;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

img {
  user-select: none;
}

.noise {
  /* background-color: #f8fbf8;
  background-image: url(/noise.svg); */
  /* background: linear-gradient(30deg, var(--background), rgb(255, 56, 56)),
    url(/noise.svg); */
  background: linear-gradient(to right, #fefefe, transparent), url(/noise.svg);
}
