@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fbf8;
  --foreground: #0b1215;
  --base: #f5f5f7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

img {
  user-select: none;
}

.noise {
  /* background: linear-gradient(to right, #fefefe, transparent), url(/noise.svg); */
  background-color: var(--base);
}
