.about {
  min-height: 100vh;
  padding: 0 6%;
  width: 100vw;
  color: white;
  font-family: "Krona One", sans-serif;
  background-color: black;
}

#aboutTitle {
  overflow: hidden;
  height: 5rem;
  font-size: 5rem;
}
