.about {
  min-height: 100vh;
  padding: 0 6%;
  width: 100vw;
  color: white;
  font-family: "Krona One", sans-serif;
  background-color: black;
}
@keyframes slideUp {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0rem);
  }
}
#aboutTitle {
  overflow: hidden;
  height: 5rem;
  font-size: 5rem;
  span {
    transform: translateY(10rem);
    animation: slideUp 1s 0s forwards;
  }
}
#aboutContent {
  font-size: 1.5rem;
  margin-top: 5vh;
  font-family: "Krona One", sans-serif;
  span {
    display: inline-block;
    margin-top: 5px;
  }
}
