.about {
  height: auto;
  padding: 0 6% 35vh 6%;
  width: 100vw;
  color: white;
  background-color: rgb(0, 0, 0);
}
@keyframes slideUp {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0rem);
  }
}
#aboutTitle {
  overflow: hidden;
  height: 5rem;
  font-size: 5rem;
  font-weight: 600;
  span {
    transform: translateY(10rem);
    animation: slideUp 1s 0s forwards;
  }
}
#aboutContent {
  font-size: 1.5rem;
  margin-top: 5vh;
  // font-family: "Lexend", sans-serif;
  span {
    display: inline-block;
    margin-top: 5px;
  }
}
