.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 85vh;
  background-color: black;
}

#handshake {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;
  z-index: 5;
  align-items: center;
  img {
    width: 60%;
    height: auto;
  }
}

#socialsWrapper {
  flex-direction: row;
  display: flex;
  width: 50%;
}

#contactPipe {
  width: 1px;
  height: 55vh;
  background-color: white;
  margin: auto 0;
}

#socials {
  color: white;
  font-size: 5rem;
  margin: auto 0;
  p {
    font-family: "Krona One", sans-serif;
    padding-left: 2rem;
    margin: 5px 0;
    span {
      display: inline-block;
      transition: 0.3s ease-in-out;
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(0);
    }
  }

  @for $i from 1 through 3 {
    p:nth-child(#{$i}) {
      transform: translateX(-40vw);
      animation: slideRight 1s #{$i * 0.1}s forwards;
    }
  }

  p:hover {
    span:nth-child(1) {
      transform: translate3d(2px, -2px, 0) rotate(-8deg);
    }
    span:nth-child(2) {
      transform: translate3d(-4px, 3px, 0) rotate(1deg);
    }
    span:nth-child(3) {
      transform: translate3d(-5px, -6px, 0) rotate(-6deg);
    }
    span:nth-child(4) {
      transform: translate3d(3px, -6px, 0) rotate(5deg);
    }
    span:nth-child(5) {
      transform: translate3d(-2px, -6px, 0) rotate(6deg);
    }
    span:nth-child(6) {
      transform: translate3d(-2px, -6px, 0) rotate(-10deg);
    }
    span:nth-child(7) {
      transform: translate3d(-2px, -6px, 0) rotate(10deg);
    }
    span:nth-child(8) {
      transform: translate3d(-2px, -6px, 0) rotate(-10deg);
    }
  }
}
