#footer {
  height: 15vh;
  width: 100%;
  color: white;
  display: flex;
  padding: 10px 0;
  font-weight: 200;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(20, 1, 22);
}

#copyright {
  font-size: 0.8rem;
  opacity: 0.6;
}
