@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}

.custom-border-bottom {
  border-bottom: 0.2px solid rgb(51, 65, 85);
}
.custom-border-top {
  border-top: 0.2px solid rgb(51, 65, 85);
}

img {
  user-select: none;
}

.hover-project:hover .project-arrow {
  transform: rotate(45deg);
}

.linear-grad {
  background: linear-gradient(to bottom, rgb(203 213 225), rgb(241 245 249));
}

.custom-border-x {
  border-left: 2px #5d5d5d solid;
  border-right: 2px #5d5d5d solid;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #797979;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d5d5d;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(214, 254, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(218, 217, 212);
}

.bg-dark {
  background: linear-gradient(
    23deg,
    rgb(39, 0, 39),
    rgb(0, 0, 46),
    rgb(44, 0, 44)
  );
}
