@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400&family=Epilogue:wght@300;400;500;600&family=Henny+Penny&family=Krona+One&family=Lexend:wght@200;300;400;500;600;700&family=Poppins:wght@300;800&family=Raleway:wght@300;400;600;800&family=Sora:wght@200;300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  /* font-family: "Epilogue", sans-serif; */
  /* font-family: "Sora", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Krona One", sans-serif; */
  /* font-family: "Biryani", sans-serif; */
  /* font-family: "Lexend", sans-serif;
  font-weight: 500; */
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  opacity: 0;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
