@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* user-select: none; */
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}

img {
  user-select: none;
}

.hover-project:hover .project-arrow {
  transform: rotate(0);
}

.linear-grad {
  background: linear-gradient(to bottom, rgb(203 213 225), rgb(241 245 249));
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #797979;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d5d5d;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(0, 247, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(0, 247, 255);
}
